image: docker:git
services:
- docker:dind
variables:
  GIT_SUBMODULE_STRATEGY: recursive
before_script:
  - apk update && apk add make
build:
  script:
  - ls -al
  - ls -al ./yocto
  - ls -al ./yocto/meta-app
  - ls -al ./yocto/meta-app/recipes-core
  - ls -al ./yocto/meta-app/recipes-core/images
  - env
  - sed '1,4 {s/^/#/}' -i ./yocto/meta-app/recipes-core/images/rpi-custom-image.bbappend
  - make build
  - make run
